Hi {{username}},
<br />
Thanks for signing up for Thipro Blog!
<br />
Please
<a href="{{confirm_url}}">click this link</a>
to confirm your email address.
<br />
If you can't click the link from your email program, please copy this URL and
paste it into your web browser:
<br />
{{ confirm_url }}
<br />
The link will expiry in one hour
<br />
If you didn't create a account at Thipro Blog, you don't need to take any
further action and can safely disregard this email.
<br />
If you don't want to use Thipro Blog, just ignore this message and we won't
bother you again.
<br />
Thanks,
<br />
The Thipro Blog Team.
