{% extends "base.html" %} {% block header %}
<h1>{% block title %} Register User {% endblock title %}</h1>
{% endblock header %} {% block content %}
<form action="" method="post">
  <label for="username">User name</label>
  <input
    type="text"
    name="username"
    id="username"
    placeholder="Please type your username"
    required
  />
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Please type your email"
    required
  />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    id="password"
    placeholder="Please type your password"
    required
  />
  <label for="paswordComfirm">Password Confirm</label>
  <input
    type="password"
    name="passwordConfirm"
    id="passwordConfirm"
    placeholder="Please type your password again"
    required
  />
  <input type="submit" value="Register" />
</form>
{%endblock content %}
