{% extends "base.html" %} {% block header %}
<h1>
  {% block title %} Change Password - {{g.user['username']}} {% endblock title
  %}
</h1>
{% endblock header %} {% block content %}
<form action="" method="post">
  <label for="old_password">Old Password:</label>
  <input
    type="password"
    name="old_password"
    id="old_password"
    placeholder="Please type your old password."
    required
  />
  <label for="new_password">New Password:</label>
  <input
    type="password"
    name="new_password"
    id="new_password"
    placeholder="Please type your new password."
    required
  />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock content %}
