{% extends "base.html" %} {% block header %}
<h1>{% block title %} List All Posts {% endblock title %}</h1>
{% endblock header %} {% block content %} {% if g.user['confirmed'] %}
<a href="{{url_for('blog.newpost')}}"
  ><input class="btn btn-secondary" type="button" value="New Post"
/></a>
{% elif g.user and g.user['confirmed'] == False %}
<p>Your email address has not been validated yet.</p>
<p>Please click on Confirm Email button.</p>
<a
  href="{{url_for('auth.unconfirmed_email')}}"
  class="unconfirmed_email btn btn-secondary"
  >Confirm Email</a
>
{% endif %} {% for post in posts %}
<article class="posts" id="posts">
  <header>
    <div>
      <h1>
        <a
          href="{{url_for('blog.post', id=post['id'], title=post['title'])}}"
          class="posttitle"
          >{{post['title']}}</a
        >
      </h1>
      <div class="about" id="about">
        by {{post['username']}} on
        <i class="fa fa-clock"></i>
        <i>{{post['created'].strftime('%Y-%m-%d')}}</i>
        with {{post['votes']}} points.
      </div>
    </div>
  </header>
  <p class="postbody" id="postbody">{{post['body']|truncate(150)|markdown}}</p>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock content %}
