{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock head %} {% block header %}
<h1>{% block title %} New Post {% endblock title %}</h1>
{% endblock header %} {% block content %}
<form action="" method="post">
  <label for="title">Title</label>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="Please enter title of post"
    value="{{request.form['title']}}"
  />
  <label for="content">Content</label>
  <textarea
    name="content"
    id="content"
    cols="30"
    rows="20"
    placeholder="Please enter content of post here."
  ></textarea>
  <div class="row justify-content-md-end">
    <div class="col col-sm-auto">
      <a href="{{url_for('blog.index')}}" class="cancel" id="cancel"
        ><input type="button" value="Cancel"
      /></a>
    </div>
    <div class="col col-sm-auto">
      <input type="submit" value="Save" class="btn btn-primary" id="save" />
    </div>
  </div>
</form>
{% endblock content %} {% block javascript %}
<script>
  const editor = new EasyMDE({
    blockStyles: {
      bold: "__",
      italic: "_",
    },
    lineWrapping: true,
    maxHeight: "300px",

    shortcuts: {
      drawTable: "Cmd-Alt-T",
    },
    showIcons: ["code", "table"],
    tabSize: 4,
    toolbarButtonClassPrefix: "mde",
  });
</script>
{% endblock javascript %}
