{% extends "base.html" %} {% block header %}
<h1>{% block title %} {{post['title']}} {% endblock title %}</h1>
{% endblock header %} {% block content %}
<div>
  <span>
    Created at <i class="fa fa-clock"></i> <i>{{post['created']}}</i> with
    {{post['votes']}} votes.
  </span>
</div>
<div class="row justify-content-md-start">
  <div class="post">{{post['body']|markdown}}</div>
</div>

<hr />
<div class="row justify-content-md-start">
  <div class="col col-md-auto">
    <a href="{{url_for('blog.reply', id=post['id'])}}" class="btn btn-secondary"
      >Reply</a
    >
  </div>
  <div class="col col-md-auto">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Vote
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-ds-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Vote Post</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Do you want to vote for this post</div>
          <div class="modal-footer">
            <form
              action="{{url_for('blog.post_vote', id=post['id'])}}"
              method="post"
            >
              <div class="row justify-content-md-end">
                <div class="col col-sm-auto">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    No
                  </button>
                </div>
                <div class="col col-sm-auto">
                  <input
                    type="submit"
                    value="Vote"
                    class="btn btn-secondary"
                    id="vote"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reply">
  {% for reply in replys %} {% if post['id'] == reply['post_id'] %}
  <div class="row justify-content-md-start">
    <div class="row justify-content-md-start">
      <div class="col col-sm-auto">
        <img src="{{reply['created_by']|gravatar}}" alt="" class="gravatar" />
      </div>
      <div class="width-1per">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="col col-lg-10 no-padding-left">
        <div class="card">
          <div class="card-header">{{reply['created_by']}}</div>
          <div class="card-body">
            <p class="card-text">{{reply['reply']|markdown}}</p>
          </div>
        </div>
        <ul class="reply-footer">
          <li>
            <span><i class="fa fa-comment"></i> Answer</span>
          </li>
          <li>
            <form action="" method="post">
              <i class="fa fa-thumbs-up"></i>
              <span class="like-count">0</span>
            </form>
            <span>
              <a
                href="{{url_for('blog.votes_up', post_id=post['id'], reply_id=reply['id'])}}"
              >
              </a>
            </span>
          </li>
          <li>
            <span
              ><i class="fa fa-thumbs-down"></i>
              <span class="dislike-count">0</span>
            </span>
          </li>
          <li>
            <span class="created_at"
              ><i class="fa fa-clock"></i>
              <i>{{reply['created_at'].strftime('%Y-%m-%d')}}</i></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-start">
    <div class="col col-md-auto"></div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock content %}
