Hi {{email}},
<br />
Someone asked for a reset password for email address {{email}}.
<br />
Please <a href="{{confirm_url}}">click on this link</a> to reset your password.
<br />
The link will expiry in one hour.
<br />
In case, clicking the link above can not work, you can copy and paste below the
url in a new browser window instead.
<br />
{{confirm_url}}
<br />
If you forgot username of your Thipro Blog account: {{username}}.
<br />
If you have received this email in error, it's likely that another user typed
your email address by mistake, while trying to reset a password.
<br />
If you didn't initiate a request to reset a password, you don't need to take any
further action and safely disregard this email.
<br />
Thanks
<br />
The Thipro Blog Team.
