{% extends "base.html" %} {% block header %}
<h1>{% block title %} Set New Password {% endblock title %}</h1>
{% endblock header %} {% block content %}
<form action="" method="post">
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Please type your email"
    required
  />
  <label for="new_password">New Password</label>
  <input
    type="password"
    name="new_password"
    id="new_password"
    placeholder="Please type your new password."
    required
  />
  <label for="repeat_new_password">Repeat New Password</label>
  <input
    type="password"
    name="repeat_new_password"
    id="repeat_new_password"
    placeholder="Please type your new password again."
    required
  />
  <input type="submit" value="Submit" class="btn btn-success" />
</form>
{% endblock content %}
